<!DOCTYPE html>
<html>
  <head>
    <style type="text/css">
      html, body, #map-canvas { height: 500px; width: 500px; margin: 0; padding: 0;}
    </style>
    <script type="text/javascript"
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBkjIj6vsgmZGDvqBTKuNnxwj1PfZ_dR2M">
    </script>
     <script type="text/javascript"
      src="https://code.jquery.com/jquery-2.1.4.min.js">
    </script>
   


    <script type="text/javascript">
      // In the following example, markers appear when the user clicks on the map.
      // The markers are stored in an array.
      // The user can then click an option to hide, show or delete the markers.
      var map;
      var markers = [];
      var tempMarkers = [];
      var localMarkers = [];
      var tempMarker = 1;

      function initialize() {
        var center = new google.maps.LatLng(56.1572, 10.2107);
        var mapOptions = {
          zoom: 4,
          center: center,
          mapTypeId: google.maps.MapTypeId.TERRAIN
        };
        map = new google.maps.Map(document.getElementById('map-canvas'),
            mapOptions);

        // This event listener will call addMarker() when the map is clicked.
        google.maps.event.addListener(map, 'click', function(event) {
          var tempLat = event.latLng["A"];
          var tempLng = event.latLng["F"]
          document.getElementById("title").value = "undefined";
          document.getElementById("description").value = "undefined";
          document.getElementById("lat").value = tempLat;
          document.getElementById("lng").value = tempLng;
          document.getElementById("mySelect").value = "0";
          addMarker(event.latLng, "new", "", -1, true );
        });

        // FIXME(FIXED): ids of the buttons should be more descriptive
        //
        $('#postLoc').click(function(){
          createLocation(true, false, false);
        });
        // FIXME(FIXED): ids of the buttons should be more descriptive
        //
        $('#createLoc').click(function(){
          createLocation(false, false, false);
        });
        $('#editLoc').click(function(){
          updateLocation();
        });
        $('#delLoc').click(function(){
          deleteLocation();
        });
      }
      
     
      $.ajax({
          dataType: "json",
          url: "/api/locations",
          success: function(locations) {
            var locs = locations["locations"];
            for (var i = locs.length - 1; i >= 0; i--) {
              var latLng = new google.maps.LatLng(locs[i]["lat"], locs[i]["lng"]);
              var title = locs[i]["title"];
              var description = locs[i]["description"];
              var id = locs[i]["id"];
              addOption(title, id);
              addMarker(latLng,title, description, id, false);      
            }
          },
          error: function(error) {
            console.log('we have gotten an error');
            console.log(error);
          }
        });
 
      // Add a marker to the map and push to the array.
      function addMarker(location, title, description, id, temp) {
        if (temp == false) {
        	var icon = 'http://maps.google.com/mapfiles/ms/icons/green-dot.png';
        	var draggable = false;
        } else {
        	var icon = 'http://maps.google.com/mapfiles/ms/icons/blue-dot.png';
        	// Temporaly changed tu false, can't guide dragged coordinates to HTML inputs.
          var draggable = false;
        };
        var marker = new google.maps.Marker({
          position: location,
          map: map,
          icon: icon,
          draggable: draggable,
          zIndex: id,
          title: title + "(" + description + ")"
        });
        /*
        // FIXME(I can't fix this): should simplify this
        if (markers.length == 0) {
          markers.push(marker);
        } else if (markers[markers.length - 1]["title"] === "new()" ) {
          markers[markers.length - 1].setMap(null);
          delete markers[markers.length-1]
          markers.push(marker);
        } else {
          markers.push(marker);
          console.log(markers)
        } */
        if (id > 0) {
          markers.push(marker);
        } else if (id == -1) {
          if (tempMarkers.length > 0){
            tempMarkers[tempMarkers.length-1].setMap(null);
          }
          tempMarkers.push(marker);
        } else{
          localMarkers.push(marker);
        }
        //console.log(markers);
        
      }

      function deleteMarker(id) {
        for (x in markers) {
          object = markers[x];
          if (object["zIndex"] == id) {
            object.setMap(null);
          }
        }
      }
      
      
      function deleteLocation() {
        var selection = document.getElementById("mySelect");
        var id = parseInt(selection.value);
        del(id); 
        deleteMarker(id);
        if (selection.value != "0" ) {
            selection.remove(selection.selectedIndex);
          };      
      }

      function updateLocation() {
        var title = document.getElementById("title").value;
        var description = document.getElementById("description").value;
        var lat = parseFloat(document.getElementById("lat").value);
        var lng = parseFloat(document.getElementById("lng").value);
        var latLng = new google.maps.LatLng(lat, lng);
        var selection = document.getElementById("mySelect");
        var id = parseInt(selection.value);
        put(lat, lng, title, description, id, false); 
        deleteMarker(id);      
        addMarker(latLng, title, description, id, false);
        if (selection.value != "0" ) {
            selection.remove(selection.selectedIndex);
            addOption(title,id);
          };
      }


      function createLocation(shouldSave, shouldEdit, shouldDelete) {
        var title = document.getElementById("title").value;
        var description = document.getElementById("description").value;
        var lat = parseFloat(document.getElementById("lat").value);
        var lng = parseFloat(document.getElementById("lng").value);
        var latLng = new google.maps.LatLng(lat, lng);
        if (shouldSave) {
          var selection = document.getElementById("mySelect");
          if (shouldEdit){
            var id = parseInt(selection.value);
          } else {
            var id = generateId(markers);
            addOption(title, id);
          };
          post(lat, lng, title, description, id, shouldDelete);
          if (shouldDelete && selection.value != "0" ) {
            selection.remove(selection.selectedIndex);
          };
        } else {
          var id = 0
        };
        addMarker(latLng, title, description, id, false);
       
      }

      function post(lat, lng, title, description, id, del) {
       var data = {
            'id': id,
            'title': title,
            'description': description,
            'lat': lat,
            'lng': lng,
            'delete': del
       } 
        $.ajax({
          type: "POST",
          url: "/api/locations",
          contentType:"application/json; charset=utf-8",
          data: JSON.stringify(data),
          dataType: "json",
          success: function(result) {
            console.log("success callback");
            console.log(result);
            }
        });
      }

      function put(lat, lng, title, description, id, del) {
       var data = {
            'id': id,
            'title': title,
            'description': description,
            'lat': lat,
            'lng': lng,
            'delete': del
        
       } 
       var url = "/api/locations/" + id;
        $.ajax({
          type: "PUT",
          url: url,
          contentType:"application/json; charset=utf-8",
          data: JSON.stringify(data),
          dataType: "json",
          success: function(result) {
            console.log("success callback");
            console.log(result);
            }
        });
      }

      
      function del(id) {
       var url = "/api/locations/" + id;
        $.ajax({
          type: "DELETE",
          url: url,
          contentType:"application/json; charset=utf-8",
          success: function(result) {
            console.log("success callback");
            console.log(result);
            }
        });
      }

      function addOption(place, id) {
        var x = document.getElementById("mySelect");
        var option = document.createElement("option");
        option.text = place;
        option.value = id;
        x.add(option);
      }


      function generateId(markers) {
        var ids = []
        for (var i = markers.length - 1; i >= 0; i--) {
          ids.push(markers[i]["zIndex"]);
        };
        var max = Math.max(...ids)
        return max + 1
      }
      
      function showParams(markers) {
        var id = parseInt(document.getElementById("mySelect").value);
        console.log(markers);
        for (var i = markers.length - 1; i >= 0; i--) {
          if (markers[i]["zIndex"] == id) {
            var mark = markers[i];
            console.log(mark);
          }
        }
        var longTitle = mark["title"].split("(");
        var title = longTitle[0];
        var description = longTitle[1].split(")")[0];
        document.getElementById("title").value = title;
        document.getElementById("description").value = description;
        document.getElementById("lat").value = mark["position"]["A"];
        document.getElementById("lng").value = mark["position"]["F"];
      }
      


      google.maps.event.addDomListener(window, 'load', initialize);
      



    </script>
  </head>
  <body>
    <div id="panel">
      Title: <input type="text" id="title" value="Gulf of Guinea">
      Description: <input type="text" id="description" value="Cardinal directions center">
      Latitude: <input type="number" id="lat" min="-90" max="90" step="any" value="0">
      Longitude: <input type="number" id="lng"  min="-180" max="180" step="any" value="0">
      <button  id="createLoc">Create location</button>
      <button  id="postLoc">Post location</button>
      <button  id="editLoc">Edit location</button>
      <button  id="delLoc">Delete location</button>
      <select id="mySelect" onChange="showParams(markers)" > 
      <option value="0">--</option>
      </select>
    </div>
    <div id="map-canvas"></div>
    <p>Click on the map to add markers.</p>
  </body>
</html>

