<!DOCTYPE html>
<html>
  <head>
    <style type="text/css">
      html, body, #map-canvas { height: 500px; width: 500px; margin: 0; padding: 0;}
    </style>
    <script type="text/javascript"
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBkjIj6vsgmZGDvqBTKuNnxwj1PfZ_dR2M">
    </script>
     <script type="text/javascript"
      src="https://code.jquery.com/jquery-2.1.4.min.js">
    </script>
   


    <script type="text/javascript">
      // In the following example, markers appear when the user clicks on the map.
      // The markers are stored in an array.
      // The user can then click an option to hide, show or delete the markers.
      var map;
      var markers = [];

      function initialize() {
        var center = new google.maps.LatLng(56.1572, 10.2107);
        var mapOptions = {
          zoom: 4,
          center: center,
          mapTypeId: google.maps.MapTypeId.TERRAIN
        };
        map = new google.maps.Map(document.getElementById('map-canvas'),
            mapOptions);

        // This event listener will call addMarker() when the map is clicked.
        google.maps.event.addListener(map, 'click', function(event) {
          addMarker(event.latLng, "new", "", true );
        });

        // FIXME(FIXED): ids of the buttons should be more descriptive
        //
        $('#postLoc').click(function(){
          createLocation(true);
        });

        // FIXME(FIXED): ids of the buttons should be more descriptive
        //
        $('#createLoc').click(function(){
          createLocation(false);
        });
      }
      
     
      $.ajax({
          dataType: "json",
          url: "/api/locations",
          success: function(locations) {
            console.log("succes");
            var locs = locations["locations"];
            for (var i = locs.length - 1; i >= 0; i--) {
              var latLng = new google.maps.LatLng(locs[i]["lat"], locs[i]["lng"]);
              var title = locs[i]["title"];
              var description = locs[i]["description"];
              addMarker(latLng,title, description, false);
            }
          },
          error: function(error) {
            console.log('we have gotten an error');
            console.log(error);
          }
        });
 
      // Add a marker to the map and push to the array.
      function addMarker(location, title, description, temp) {
        if (temp == false) {
        	var icon = 'http://maps.google.com/mapfiles/ms/icons/green-dot.png';
        	var draggable = false;
        } else {
        	var icon = 'http://maps.google.com/mapfiles/ms/icons/blue-dot.png';
        	var draggable = true;
        };
        var marker = new google.maps.Marker({
          position: location,
          map: map,
          icon: icon,
          draggable: draggable,
          title: title + "(" + description + ")"
        });
        
        // FIXME(I can't fix this): should simplify this
        if (markers.length == 0) {
          markers.push(marker);
        } else if (markers[markers.length - 1]["title"] === "new()" ) {
          markers[markers.length - 1].setMap(null);
          markers[markers.length - 1] = marker;
        } else {
          markers.push(marker);
        }
        setAllMap(map);
        console.log(markers);
      };
      

      // Sets the map on all markers in the array.
      function setAllMap(map) {
        for (var i = 0; i < markers.length; i++) {
          markers[i].setMap(map);
        }
      };

      
      

      function createLocation(shouldSave) {
        var pos = markers[markers.length-1]["position"];
        var lat = pos["A"];
        var lng = pos["F"];
        var latLng = new google.maps.LatLng(lat, lng);
        var title = document.getElementById("title").value;
        var description = document.getElementById("description").value;
        if (title != "undefined") {
          addMarker(latLng, title, description, false);
        } else {
          alert("Title is undefined");
        };
        
        if (shouldSave) {
          post(lat, lng, title, description);
        }
      };

      function post(lat, lng, title, description) {
       var data = {
            'title': title,
            'description': description,
            'lat': lat,
            'lng': lng
        
       }; 
        console.log(data);
        $.ajax({
          type: "POST",
          url: "/api/locations",
          contentType:"application/json; charset=utf-8",
          data: JSON.stringify(data),
          dataType: "json",
          success: function(result) {
            console.log("success callback");
            console.log(result);
            }
        });
      };

      google.maps.event.addDomListener(window, 'load', initialize);

    </script>
  </head>
  <body>
    <div id="panel">
      Title: <input type="text" id="title" value="undefined">
      Description: <input type="text" id="description" value="undefined">
      <button  id="createLoc">Create location</button>
      <button  id="postLoc">Post to server</button>
    </div>
    <div id="map-canvas"></div>
    <p>Click on the map to add markers.</p>
  </body>
</html>

